# Data Science Notes

## Lesson from Python Assessment

1. Retrieve documentaiton from a class using docstrings method (.\_\_doc__)

2. string.capitalize() just capitalizes teh first letter while string.upper() makes the entire string upper case.

3. def add_many(*args): '*' allows for multiple reoccuring inputs to be put in for args into the function.

## Lesson form SQL Assessments

1. WHERE phone !~ '[0-9] {10}';

~ and !~ are useful for using regular expressions but they're only used within POSTGRESSQL

2. WHERE title NOT ILIKE '%the%'

ILIKE and NOT ILIKE is a case insensitive form of LIKE and NOT LIKE

3. WHERE title SIMILAR TO '%(k|m)%';

SIMILAR TO allows for the use of additional POSIX regular expressions. In the above sample the expression matches to any string that has a k or m in the middle.
4. INITCAP(vendor_name)
INITCAP capitalize the first character of a string and lowercases everything else.

5. EXTRACT(DOW FROM launch) : NUMERIC as day_of_the_week

6. WHERE LENGTH(zip_code) != 5;
LENGTH returns length of input
7. FULL JOIN bike as b

8. WHERE title ~ '^The'
~ uses regular expression (same error as question 1)
9. How to execute self join
Self join is executed by INNER JOINing two aliases of the same table. It is used when you have hierarchical data or when rows ofthe same table need to be compared.

# Any and All Statements

Any and all statements are used in subqueries to compare rows to values in a single column.

Example 1 (ALL):

SELECT * FROM student WHERE age > ALL (SELECT age FROM lecturer)

This query is going to compare the age of every student in the student table. If the agein the row is above ALL the ages in the subquery, it will return the entire row.

Example 2 (ANY):

SELECT * FROM student WHERE age > ANY (SELECT age FROM lecturer)

This query is going to compare the age of every student in the student table. If the age in the row is above ANY of the ages in the subquery, it will return the entire row.

Conclusion:

 The ANY statement only reguires the statement to be true for a single row, where the ALL statement requires the statement to be true for **each and every** comparison row.