# Data Science Notes

## Lesson from Python Assessment

1. Retrieve documentaiton from a class using docstrings method (.\_\_doc__)

2. string.capitalize() just capitalizes teh first letter while string.upper() makes the entire string upper case.

3. def add_many(*args): '*' allows for multiple reoccuring inputs to be put in for args into the function.

## Lesson form SQL Assessments

1. WHERE phone !~ '[0-9] {10}';

~ and !~ are useful for using regular expressions but they're only used within POSTGRESSQL

2. WHERE title NOT ILIKE '%the%'

ILIKE and NOT ILIKE is a case insensitive form of LIKE and NOT LIKE

3. WHERE title SIMILAR TO '%(k|m)%';

SIMILAR TO allows for the use of additional POSIX regular expressions. In the above sample the expression matches to any string that has a k or m in the middle.
4. INITCAP(vendor_name)
INITCAP capitalize the first character of a string and lowercases everything else.

5. EXTRACT(DOW FROM launch) : NUMERIC as day_of_the_week

6. WHERE LENGTH(zip_code) != 5;
LENGTH returns length of input
7. FULL JOIN bike as b

8. WHERE title ~ '^The'
~ uses regular expression (same error as question 1)
9. How to execute self join
Self join is executed by INNER JOINing two aliases of the same table. It is used when you have hierarchical data or when rows ofthe same table need to be compared.

# Any and All Statements

Any and all statements are used in subqueries to compare rows to values in a single column.

Example 1 (ALL):

SELECT * FROM student WHERE age > ALL (SELECT age FROM lecturer)

This query is going to compare the age of every student in the student table. If the agein the row is above ALL the ages in the subquery, it will return the entire row.

Example 2 (ANY):

SELECT * FROM student WHERE age > ANY (SELECT age FROM lecturer)

This query is going to compare the age of every student in the student table. If the age in the row is above ANY of the ages in the subquery, it will return the entire row.

Conclusion:

 The ANY statement only reguires the statement to be true for a single row, where the ALL statement requires the statement to be true for **each and every** comparison row.

# Window Functions

Window functions generate a calculation across a set of rows that is somehow related to the current row. They function like aggregation functions but they maintain the table structure. 

## Syntax of a Window Function:

~~~~sql

window_function() OVER ( [PARTITION BY partition_expression] [ORDER BY sort_expression] [frame_clause])
~~~~

window_function(): The transformation or application that is being applied to each row in the target column. 

Examples:

Aggregate functions: SUM(), AVG(), COUNT()

Ranking Functions (compare row values relative to preceeding or succeeding row values): 

ROW_NUMBER, RANK(), DENSE RANK(), NTILE(n)

Note: Rank and Dense rank handle similar values by ranking them the same. Dense rank will count the next ordinal value while RANK  will maintain rank based on the total rows ranked higher. 

Value Functions: Interact directly with values in the preceeding or succeeding rows.

PARTITION BY: functions as a group by statement within the windows function. segmenting the window function into groups based on the PARTITION criteria.

ORDER BY: functions like an order by statement within the window function, organizing by the order by criteria within each partition.

frame_clause: Sets a range for the window funciton calculation. By default this is between all preceeding rows and the current row.


Example using dense rank (geeksforgeeks.org)
~~~sql
SELECT Name, Department, Salary,
       DENSE_RANK() OVER(PARTITION BY Department ORDER BY Salary DESC) AS emp_dense_rank
FROM employee;
~~~

Above sql query takes rows and adds a rank (because we're using dense rank it won't skip ordinal values). Because of the partition statement the ranks will be segmented to each department. The order by statement sets the ranks to be ordered by salary with the DESC statement indicating the highest salary will be ranked 1 and the ranks will decrease as salary decreases. Because we're using window functions the rows won't be condensed or aggregated in any fashion.

## Best Practices for Query Optimization

### Indexes

You can add indexes when there's a column that you are often searching in. It will speed up searches at the cost of memory and extra overhead when adding new rows. 

#### Index types

Clustered

Non clustered

Full

### Avoid using SELECT *

### Optimizing JOIN operations

Inner Joins are the best outer joins are the worst

Avoid right joins if possible and change table order in query

Assign PRIMARY and FOREIGN KEYS

### Exists vs IN

### CTEs vs Subqueries

Subqueries can get messy use CTEs to organize queryies and make queries more legible.

### Avoid Loops

### Redundant Data Retrieval 

### Use LIMIT and OFFSET when pulling from large files

### CREATE PROCEDURE

### use Parameters

### Normalize Databases

#### First Normal Form

#### Second Normal form

#### Third Normal form 

### Monitor Query Performance (EXPLAIN)

### UNION ALL vs UNION

UNION is safer for udplicates but slower. UNION ALL is more efficient but doesn't check for duplicates

### Use cloud specific functions (SnowFlake, GCP, Amazon)

# Special Joins

## CROSS JOIN
Cross joins creates the cartesian product of the rows of two tables. This means that every row in table_1 is combined with every row in table_2. The join doesn't need any targets given that it is indiscriminately combining each row.

```sqL
SELECT
    table1.column_name,
    table2.column_name,
    table3.column_name
FROM
    table1
CROSS JOIN
    table2
CROSS JOIN
    table3;

```
Query above is a triple cross join, combining all combinations of three tables.


## Non Equal join

We can join tables on conditions where row values aren't equal to each other:

```sql
SELECT c1.city_name AS City1, c2.city_name AS City2
FROM Cities c1
JOIN Cities c2 ON c1.id < c2.id;

```

The query above uses a non equal join to find unique combinations of two cities. We should note that the comparision still matches based on the comparison sign. In the case of city_id it matches when the first column is less than the second.

# Date Statements

## Extract/Date_Part()

Extract and date part both take a single part of a date and return it as an integer.

```sql
EXTRACT(part FROM date_value)
```

```sql
DATEPART(datepart, date_expression)
```

## Interval

Interval creates a unit of time that can be added or subtracted from a date object. For instance date + interval '3 days' would take date and return a date object 3 days into the future.

```sql
SELECT date_column Â± INTERVAL 'quantity unit';

```
## Date Diff

Finds the time difference between two dates based on a select unit/interval

```sql
DATEDIFF(interval, start_date, end_date)
```
## Date Trunc

Takes a date object and reduces it to a different level of precision. Date trunc still returns an entire date object as opposed to extract/date_part.

```sql
DATE_TRUNC( <date_or_time_part>, <date_or_time_expr> )
```
## To Date

Takes a string value and translates it into a date object based on the string format.

```sql
TO_DATE('08-DEC-2025', 'DD-MON-YYYY')
```

## Justify Hours

akes an interval object and returns an object where the hour values are less than 24.

## EPOCH

# Exists

Exist is a boolean condition added to WHERE statements. You input a subquery and the query will return results where the subquery conditions are true. 

```sql
SELECT column_name(s)
FROM table_name
WHERE EXISTS (subquery);
```

```sql
-- Select all suppliers who have at least one product listed
SELECT supplier_name, city
FROM Suppliers s
WHERE EXISTS (
    -- Subquery to check if the supplier has any products
    SELECT 1
    --  select 1 is used to check if the table exists and extract WHERE conditions without having to spend computational energy query returning query results.
    FROM Products p
    WHERE p.supplier_id = s.supplier_id
);
```
# Correlated Queries

# Python

## Classes

### Define classes with the class keyword

"\__init__" is known as a constructor, and is called when a new class object is created

"self" refers to the current instance of a class

### Attributes

"self.\<attribute>" creates an attribute that we can access from the class by recalling "\<object_name>.\<attribute>"

### instance methods

mehtods that require access to certain class attribute

### class methods

can be called without an attribute have to use the @clasmethod decorator before defining the class

### Inheritance

Allows for code to be reused between classes. Within your \__init__ you instantiate the class you are inheriting. 

### super()

used to access methods and properties of a parent or sibling class

### Overiding and overloading
Overriding occurs when a method from an inherited class is written in the current class which overrides the inherited classes original method. 

Overloading occurs when we customize a python operator (\__eq__, \__add__, \__contains__, etc.) for a specific class .

### Multiple Inheritance

### Type Hints

We can assign type values within classe so we can understand what the output of classes and methods. syntax below.

``` python
import typing

from typing import List, Dict

student_names: List[str] = ["Morgan", "chuck", "Anna"]

student_gpas: Dict[str, float] = {"Casey": 3.71, "Sarah": 4.0}

defget_course(self, course_id: str) -> Course:




```

### Descriptors
Descriptors are used to control/regulate/change how an attribute is interacted with (retrieved, set ,or deleted)

Use the property decorator to create descriptors:

```python
class Student:
    def __init__(self, name, ssn):
                self.name = name
                self.ssn = ssn

                @property  
                def ssn(self):
                    return"XXX-XX-" + self._ssn[-4:]


                @ssn.setter
                def ssn(self, new_ssn):
                    self._ssn = new_ssn


                @ssn.deleter
                def ssn(self):
                    raise AttributeError("Can't delete SSN")

```

### Customizing Attributes

Use \__getattr__() and \__setattr__() to change attribute behaviour when an attribute is called (get) or assigned (set)

```python
__getattr__()

__setattr__()

```

self.\__dict__ accesses a dictionary with every attribute and value

### Iterators 

Iterators are classes that allow for a collection of objects or data stream to be traversed and return one item at a time.

### Iterator protocol 

Two attributes have to be set for a class to be an iterator:
\__iter__() and \__next__()

\__iter__(): Returns an iterator

\__next__(): returns the next value in the collection of iteration values

When programming iterator we have to create a logic to stop iteration once all values have been used.

```python

Raise StopIteration

```
### Try. Except, finally

Works like if else but if the funciton under try fails for any reason it will move to except. Rgardless of what happens, finally will run.

```python
try:
    do_something()
except ValueError:
    print("Bad value!")
else:
    print("All good.")
finally:
    clean_up()

```

### Abstract base classes

Abstract base classes create methods that are inherited as blueprints. Am abstract method won't define a method but will require the child class to define it for itself.

### Interfaces

Inerfaces is a special kind of class made up of only abstract methods that creaate a "contract" with the clases that implement the interface

### Factory Methods


## Packages and Documentation

two things to make a python package:

1. Name of the directory (preferably all lowercase and no underscores)
2. a file called \__init__.py

## Set up

## Documentations

### Docstrings
```py
def function(x):


```

## Unit testing
doctest
pytest
assert

# DBT Data Build Tool

## Commands

which dbt 

dbt --version

dbt init

dbt -h

## directory/file Titles

### Analyses
### Macros
### Models
#### models.yml
#### sources.yml
#### model.sql

### Seeds
#### seed.yml
#### seed.csv
### Snapshots
### Tests

# Python Problems



## Two Sum

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

### Solution (Allen 1-5-26)



``` py
class Solution:
    def twoSum(self, nums: List[int], target: int) -> List[int]:
        for i in range(len(nums)):
            for j in range(i+1,len(nums)):
                if nums[i] + nums[j] == target:
                    return([i,j])

```
### Solution (Best Solution 1-5-26)

``` py
class Solution:
    def twoSum(self, nums: List[int], target: int) -> List[int]:
        temp = {}
        for i in range(len(nums)):
            n = nums[i]
            r = target - n
            # print(n, r)
            if r not in temp:
                temp[n] = i
            else:
                return [temp[r], i]


```

## Best time to buy and sell stock

You are given an array prices where prices[i] is the price of a given stock on the ith day.

You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock.

Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.


### solution Allen 1-6-25 (failed due to time complexity)
```py

class Solution:
    def maxProfit(self, prices: List[int]) -> int:
        max_profit = 0
        current_lowest_price = inf
        for i in range(len(prices)):
            today_price = prices[i]
            if today_price > current_lowest_price:
                continue
            else:
                current_lowest_price = today_price
            future_prices = prices[i:]
            todays_profits = [price - today_price for price in future_prices]
            today_max_profit = max(todays_profits)

            if today_max_profit > max_profit:
                max_profit = today_max_profit
        return max_profit

```
### Valiud solution (leet code)

``` py
class Solution:
    def maxProfit(self, prices: List[int]) -> int:
        min_price = prices[0]
        max_profit = 0
        
        for price in prices[1:]:
            max_profit = max(max_profit, price - min_price)
            min_price = min(min_price, price)
            
        return max_profit
```

# SQL Problems



## Frequently Purchased Pairs

Given the Walmart transaction and product tables, write a query to determine the count of unique product combinations that are purchased together in the same transaction, considering that there must be a minimum of two products in the transaction. Display the output in ascending order of the product combinations.

For instance, if there are two transactions where apples and bananas are bought together, and another transaction where bananas and soy milk are bought together, the total count of unique combinations would be 2.

### Solution (Allen 1-6-26 used a hint)

ARRAY_AGG is an aggregator that takes a column and creates a single array with the column contents. In this case it was used to create unique combination of the product_id column. 

```sql

WITH combinations AS (

SELECT 
  transaction_id, 
  ARRAY_AGG(CAST(product_id AS TEXT) ORDER BY product_id) as combination
FROM transactions
GROUP BY transaction_id),

counts AS (
SELECT transaction_id, COUNT(*) counts FROM TRANSACTIONS GROUP BY transaction_id 
HAVING COUNT(*) > 1)


-- SELECT * FROM counts
SELECT DISTINCT combination FROM  combinations WHERE transaction_id IN (SELECT transaction_id FROM counts)

```