# Data Science Notes

## Lesson from Python Assessment

1. Retrieve documentaiton from a class using docstrings method (.\_\_doc__)

2. string.capitalize() just capitalizes teh first letter while string.upper() makes the entire string upper case.

3. def add_many(*args): '*' allows for multiple reoccuring inputs to be put in for args into the function.

## Lesson form SQL Assessments

1. WHERE phone !~ '[0-9] {10}';

~ and !~ are useful for using regular expressions but they're only used within POSTGRESSQL

2. WHERE title NOT ILIKE '%the%'

ILIKE and NOT ILIKE is a case insensitive form of LIKE and NOT LIKE

3. WHERE title SIMILAR TO '%(k|m)%';

SIMILAR TO allows for the use of additional POSIX regular expressions. In the above sample the expression matches to any string that has a k or m in the middle.
4. INITCAP(vendor_name)
INITCAP capitalize the first character of a string and lowercases everything else.

5. EXTRACT(DOW FROM launch) : NUMERIC as day_of_the_week

6. WHERE LENGTH(zip_code) != 5;
LENGTH returns length of input
7. FULL JOIN bike as b

8. WHERE title ~ '^The'
~ uses regular expression (same error as question 1)
9. How to execute self join
Self join is executed by INNER JOINing two aliases of the same table. It is used when you have hierarchical data or when rows ofthe same table need to be compared.

# Any and All Statements

Any and all statements are used in subqueries to compare rows to values in a single column.

Example 1 (ALL):

SELECT * FROM student WHERE age > ALL (SELECT age FROM lecturer)

This query is going to compare the age of every student in the student table. If the agein the row is above ALL the ages in the subquery, it will return the entire row.

Example 2 (ANY):

SELECT * FROM student WHERE age > ANY (SELECT age FROM lecturer)

This query is going to compare the age of every student in the student table. If the age in the row is above ANY of the ages in the subquery, it will return the entire row.

Conclusion:

 The ANY statement only reguires the statement to be true for a single row, where the ALL statement requires the statement to be true for **each and every** comparison row.

# Window Functions

Window functions generate a calculation across a set of rows that is somehow related to the current row. They function like aggregation functions but they maintain the table structure. 

## Syntax of a Window Function:

~~~~sql

window_function() OVER ( [PARTITION BY partition_expression] [ORDER BY sort_expression] [frame_clause])
~~~~

window_function(): The transformation or application that is being applied to each row in the target column. 

Examples:

Aggregate functions: SUM(), AVG(), COUNT()

Ranking Functions (compare row values relative to preceeding or succeeding row values): 

ROW_NUMBER, RANK(), DENSE RANK(), NTILE(n)

Note: Rank and Dense rank handle similar values by ranking them the same. Dense rank will count the next ordinal value while RANK  will maintain rank based on the total rows ranked higher. 

Value Functions: Interact directly with values in the preceeding or succeeding rows.

PARTITION BY: functions as a group by statement within the windows function. segmenting the window function into groups based on the PARTITION criteria.

ORDER BY: functions like an order by statement within the window function, organizing by the order by criteria within each partition.

frame_clause: Sets a range for the window funciton calculation. By default this is between all preceeding rows and the current row.


Example using dense rank (geeksforgeeks.org)
~~~sql
SELECT Name, Department, Salary,
       DENSE_RANK() OVER(PARTITION BY Department ORDER BY Salary DESC) AS emp_dense_rank
FROM employee;
~~~

Above sql query takes rows and adds a rank (because we're using dense rank it won't skip ordinal values). Because of the partition statement the ranks will be segmented to each department. The order by statement sets the ranks to be ordered by salary with the DESC statement indicating the highest salary will be ranked 1 and the ranks will decrease as salary decreases. Because we're using window functions the rows won't be condensed or aggregated in any fashion.

## Best Practices for Query Optimization

### Indexes

You can add indexes when there's a column that you are often searching in. It will speed up searches at the cost of memory and extra overhead when adding new rows. 

#### Index types

Clustered

Non clustered

Full

### Avoid using SELECT *

### Optimizing JOIN operations

Inner Joins are the best outer joins are the worst

Avoid right joins if possible and change table order in query

Assign PRIMARY and FOREIGN KEYS

### Exists vs IN

### CTEs vs Subqueries

Subqueries can get messy use CTEs to organize queryies and make queries more legible.

### Avoid Loops

### Redundant Data Retrieval 

### Use LIMIT and OFFSET when pulling from large files

### CREATE PROCEDURE

### use Parameters

### Normalize Databases

#### First Normal Form

#### Second Normal form

#### Third Normal form 

### Monitor Query Performance (EXPLAIN)

### UNION ALL vs UNION

UNION is safer for udplicates but slower. UNION ALL is more efficient but doesn't check for duplicates

### Use cloud specific functions (SnowFlake, GCP, Amazon)

# Special Joins

## CROSS JOIN
Cross joins creates the cartesian product of the rows of two tables. This means that every row in table_1 is combined with every row in table_2. The join doesn't need any targets given that it is indiscriminately combining each row.

```sqL
SELECT
    table1.column_name,
    table2.column_name,
    table3.column_name
FROM
    table1
CROSS JOIN
    table2
CROSS JOIN
    table3;

```
Query above is a triple cross join, combining all combinations of three tables.


## Non Equal join

We can join tables on conditions where row values aren't equal to each other:

```sql
SELECT c1.city_name AS City1, c2.city_name AS City2
FROM Cities c1
JOIN Cities c2 ON c1.id < c2.id;

```

The query above uses a non equal join to find unique combinations of two cities. We should note that the comparision still matches based on the comparison sign. In the case of city_id it matches when the first column is less than the second.

# Date Statements

## Extract/Date_Part()

Extract and date part both take a single part of a date and return it as an integer.

```sql
EXTRACT(part FROM date_value)
```

```sql
DATEPART(datepart, date_expression)
```

## Interval

Interval creates a unit of time that can be added or subtracted from a date object. For instance date + interval '3 days' would take date and return a date object 3 days into the future.

```sql
SELECT date_column Â± INTERVAL 'quantity unit';

```
## Date Diff

Finds the time difference between two dates based on a select unit/interval

```sql
DATEDIFF(interval, start_date, end_date)
```
## Date Trunc

Takes a date object and reduces it to a different level of precision. Date trunc still returns an entire date object as opposed to extract/date_part.

```sql
DATE_TRUNC( <date_or_time_part>, <date_or_time_expr> )
```
## To Date

Takes a string value and translates it into a date object based on the string format.

```sql
TO_DATE('08-DEC-2025', 'DD-MON-YYYY')
```